<a href="https://colab.research.google.com/github/nirbhay221/MovieRecommenation/blob/master/collaborative_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import sklearn
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
df = pd.read_csv("toy_dataset.csv",index_col=0)
df

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        NaN        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        NaN
user 3      1.0      NaN      NaN        4.0        5.0        4.0
user 4      NaN      2.0      1.0        4.0        NaN        3.0
user 5      1.0      NaN      2.0        3.0        3.0        4.0

In [ ]:
def standardize(row) :
  return ((row - row.mean())/(row.max() -row.min()))
rating = df.apply(standardize).fillna(0)
rating

        action1   action2  action3  romantic1  romantic2  romantic3
user 1   0.3125  0.555556    0.375      0.000  -0.333333  -0.666667
user 2   0.5625 -0.111111    0.375     -0.625  -0.333333   0.000000
user 3  -0.4375  0.000000    0.000      0.375   0.666667   0.333333
user 4   0.0000 -0.444444   -0.625      0.375   0.000000   0.000000
user 5  -0.4375  0.000000   -0.125     -0.125   0.000000   0.333333

In [ ]:
item_similarity = cosine_similarity(rating.T)
item_similarity_df = pd.DataFrame(item_similarity,index = rating.columns,columns = rating.columns)
item_similarity_df

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.172854  0.517195  -0.622745  -0.800327  -0.685994
action2    0.172854  1.000000  0.744387  -0.162835  -0.251976  -0.629941
action3    0.517195  0.744387  1.000000  -0.659091  -0.369274  -0.430820
romantic1 -0.622745 -0.162835 -0.659091   1.000000   0.677003   0.123091
romantic2 -0.800327 -0.251976 -0.369274   0.677003   1.000000   0.666667
romantic3 -0.685994 -0.629941 -0.430820   0.123091   0.666667   1.000000

In [ ]:
def make_recommendation(movie_user_likes,df):
  similar_score= item_similarity_df[movie_user_likes]*[df-2.5]
  similar_score = similar_score.sort_values(ascending =False)
  return similar_score

In [ ]:
make_recommendation("action1",5)

action1      2.500000
action3      1.292989
action2      0.432136
romantic1   -1.556864
romantic3   -1.714986
romantic2   -2.000817
Name: action1, dtype: float64

In [ ]:
action_lover = [('action1',4),('action2',4)]
similar_movies = pd.DataFrame()
for movie,rating in action_lover:
  similar_movies = similar_movies.append(make_recommendation(movie,rating),ignore_index = True)
similar_movies.sum().sort_values(ascending =  False)

action3      1.892374
action2      1.759281
action1      1.759281
romantic1   -1.178370
romantic2   -1.578455
romantic3   -1.973903
dtype: float64